*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
.square{
    width: 200px;
    height: 200px;
    position: absolute; /*фигуры слоятся*/
}
.red{
    
    background-color: red;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    z-index: 0; /*порядок слоев*/
}
.green{
    margin-top: 50px;
    margin-left: 50px;
    background-color: green;
    transition: 1s;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    z-index: 2; /*порядок слоев*/
}
.blue{
    margin-top: 100px;
    margin-left: 100px;
    background-color: blue;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    z-index: 1; /*порядок слоев*/
}
.green:hover{
    transform: scale(1.5) rotate(45deg)
}